<div class="row">
	<main class="col-md-12">

		<header>
						<h1>About Me</h1>
					</header>
					<br><br>
					<p> <b><i>Yashika is a student currently pursuing a degree at Seneca college. With
						a passion for working in a corporate world, Yashika is constantly 
						seeking opportunities to expand her knowledge and skills in the business 
						information world.</i></b></p>
					<br>
						<h5>
						<ul>Tutor: Yashika Babbar</ul>
						<ul>Seneca Student Number:115179228 </ul>
						<ul>Program: Business Information Technology </ul>
						<ul>College: Seneca College</ul>
					</h5>

	</main>
</div>