<div class="row">
	<main class="col-md-12">
		<h1>Welcome to my website</h1>
    

                      <article>
                          <header>
                              <h3> I will be demonstrating HTML5 principles
								and techniques.</h3><br>
								<p><b><i>
									This site consists of 3 static views (
									
												<a href="home"> Home </a> 
												<a href="about">  | About </a> 
												<a href="htmlDemo">  | HTML Demo </a> 
										) as well as 5 routes that supply data , including:
								</p>

                              <ol>
                                  <a id = "students" href="http://localhost:8081/students"><li>All Students</li></a>
                                  <a id = "students" href="http://localhost:8081/students/?course=4"><li>Students by Course</li></a>
                                  <a id = "students" href="http://localhost:8081/student/5"><li>A Single Student By Student Number</li></a>
                                  <a id = "students" href="http://localhost:8081/tas"><li>All TAs</li></a>
                                  <a id = "students" href="http://localhost:8081/Courses"><li>All Courses</li></a>
                              </ol>
                              
                          </p>
						  <p>
							This site utilizes HTML5: a markup language used for structuring
							and presenting content on the World Wide Web
						  </p></b></i>
                          </header>
                      </article>

	</main>
</div>